cli/localnet.env
cli/Cargo.lock

# Env files
*.env
*.local

# Build output
build/
dist/

# Dependencies
node_modules/
.pnp
.pnp.js

# Package managers
pnpm-lock.yaml
yarn.lock
package-lock.json

# Rust / Move
Cargo.lock
Move.lock

# Logs and debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE/editor settings
.vscode/
.idea/

# OS-specific
.DS_Store